<div class="container">
  <h1>Log in</h1>

  <%= form_tag sessions_path do %>

    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= radio_button_tag(:user_type, "customer") %>
    <%= label_tag(:user_type_customer, "as customer") %>

    <%= radio_button_tag(:user_type, "owner") %>
    <%= label_tag(:user_type_owner, "as owner") %>

    <%= submit_tag "Log in" %>

  <% end %>
</div>
