<div class="container">
  <h3>Your profile</h3>

  <h1><%= current_user.email %></h1>

  <h3>Reservations</h3>
  <% current_user.reservations.each do |reservation| %>
    <ul>
      <li><%= link_to reservation.restaurant.name, restaurant_path %>: <%= reservation.date.to_formatted_s(:long) %> at <%= reservation.time.to_formatted_s(:time) %> for <%= reservation.party_size %></li>
      <p><%= link_to "Delete from profile", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete %></p>
    </ul>
  <% end %>

  <!-- <h3>Today's reservations</h3>
  <% current_user.reservations.each do |reservation| %>
    <% if reservation.date = Date.today %>
      <ul>
        <li><%= link_to reservation.restaurant.name, restaurant_path %>: <%= reservation.date.to_formatted_s(:long) %> at <%= reservation.time.to_formatted_s(:time) %> for <%= reservation.party_size %></li>
        <p><%= link_to "Edit this reservation", edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
        <p><%= link_to "Cancel this reservation", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete %></p>
      </ul>
    <% end %>
  <% end %>

  <h3>Other upcoming reservations</h3>
  <% current_user.reservations.each do |reservation| %>
    <% if reservation.date.future? %>
    <ul>
      <li><%= link_to reservation.restaurant.name, restaurant_path %>: <%= reservation.date.to_formatted_s(:long) %> at <%= reservation.time.to_formatted_s(:time) %> for <%= reservation.party_size %></li>
      <p><%= link_to "Delete from profile", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete %></p>
    </ul>
    <% end %>
  <% end %>


  <h3>Past reservations</h3>
  <% current_user.reservations.each do |reservation| %>
    <% if reservation.date.past? %>
    <ul>
      <li><%= link_to reservation.restaurant.name, restaurant_path %>: <%= reservation.date.to_formatted_s(:long) %> at <%= reservation.time.to_formatted_s(:time) %> for <%= reservation.party_size %></li>
      <p><%= link_to "Delete from profile", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete %></p>
    </ul>
    <% end %>
  <% end %> -->
</div>
