<%= form_for @restaurant do |f| %>

  <div class="errors">
    <% if @restaurant.errors.any? %>
      <p>Please correct <%= pluralize(@restaurant.errors.count, "error") %> to add your restaurant:</p>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :capacity %>
  <%= f.number_field :capacity %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>

  <%= f.label :open_time %>
  <%= f.time_select :open_time, minute_step: 60, ampm: true %>

  <%= f.label :close_time %>
  <%= f.time_select :close_time, minute_step: 60, ampm: true %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit %>

<% end %>
