<% if @restaurant.reservations.any? && @restaurant.reservations.first.persisted? %>
  <h3>Upcoming reservations:</h3>
  <% @restaurant.reservations.where('date >= ?', Date.today).order(:date, :time).each do |reservation| %>
    <div>
      <strong><%= reservation.date %></strong>
      <%= reservation.time.to_formatted_s(:time) %><br>
      Party of <%= reservation.party_size %>
    </div><br>
  <% end %>
<% end %>

<p><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></p>
<p><%= link_to "Remove Restaurant", restaurant_path(@restaurant), method: :delete %></p>
