<h1><%= @restaurant.name %></h1>

<div class="restaurant-info">
  <p><%= @restaurant.description %></p>
  <p>Phone: <%= @restaurant.phone_number %></p>
  <p>Open times: <%= @restaurant.open_time.to_formatted_s(:time) %> - <%= @restaurant.close_time.to_formatted_s(:time) %></p>
  <p>Price rating (1-5): <%= @restaurant.price %></p>
</div>

<% if current_user.class == Owner %>
  <%= render 'owner' %>
<% else %>
  <%= render 'customer' %>
<% end %>
